# API Configuration
# URL del backend - Cambia esto por la URL de tu backend en producción
NEXT_PUBLIC_API_URL="http://localhost:3000"

# Environment
# development | production
NODE_ENV="development"
